<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Biblioteca</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('novo') }}">Adicionar Livro</a>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h2>Editar Livro</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('editar_usuario', id=usuario[0]) }}" method="POST">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{ usuario[1] }}" required>

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="{{ usuario[2] }}" required>

                <label for="senha">Ano de Publicação:</label>
                <input type="text" id="senha" name="senha" value="{{ usuario[3] }}" required>

                <div class="form-actions">
                    <button type="submit">Salvar</button>
                    <a href="{{ url_for('index') }}" class="cancelar">Cancelar</a> 
                </div>
            </form>
        </div>
    </main>
</body>
</html>
